<!--  -->
<!DOCTYPE html>

<html>
	{% load staticfiles %}

	<head>
		<!-- Global Styling Properties -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></link>

		<!-- Global Scripts -->
		<script src="{% static 'js/tool_manager.js' %}"></script>
		
		<!-- Title -->
		<title>Success Book: {{view}} View</title>
	</head>

	<body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">
		<!-- Navigation  -->
		<div class="navbar navbar-fixed-top">
      			<div class="navbar-inner">
       				<div class="container">
         				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            					<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
          				</a>
				        <a class="brand" href="#">Success Book</a>
          				<div class="nav-collapse">
            					<ul class="nav">
							{% for tool in toolbox %}
								<li onclick="change_tools('{{tool.name}}')"><a href="#">{{tool.name}}</a></li>
							{% endfor %}
            					</ul>
          				</div><!--/.nav-collapse -->
        			</div>
      			</div>
    		</div>

		<!-- Content (Note: this is the area on the page in which the tools should place their content) -->		
		<div class="container" id="tool_container"></div>
	</body>
</html>
