<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <!-- Le styles -->
    {# <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> #}
    <link rel="stylesheet" href="{% static 'css/skin.css' %}" type="text/css" media="screen">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
<div id="slidedeck_frame" class="skin-slidedeck">
    <dl class="slidedeck">
        <dt>Slide 1</dt>
        <dd>
            <ul class="slidesVertical">
                <li><p>Vertical Slide 1</p></li>
                <li><p>Vertical Slide 2</p></li>
                <li><p>Vertical Slide 3</p></li>
                <li><p>Vertical Slide 4</p></li>
            </ul>
        </dd>  
        <dt>Slide 2</dt>
        <dd>Slide Content</dd>
        <dt>Slide 3</dt>
        <dd>Slide Content</dd>
        <dt>Slide 4</dt>
        <dd>Slide Content</dd>
        <dt>Slide 5</dt>
        <dd>Slide Content</dd>
    </dl>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="http://yui.yahooapis.com/3.4.1pr1/build/yui/yui-min.js"></script>
<script src="{% static 'js/slidedeck.jquery.js' %}"></script>
<script type="text/javascript">
    // The most basic implementation using the default options
    $('dl.slidedeck').slidedeck({
        autoPlay: true, // auto play turned on
        transition: 'linear' // slide transition style
    }).vertical();
</script>
</body>
</html>