{% extends "ti_base.html" %}

{% block headscript %}
{{ block.super }}
<script type="text/javascript">
	var tmps = new Array();
	tmps['-1'] = {
		"cname":"",
		"outof":"",
		"weight":"",
		"meta":"",
		"tags":"",
		"racl":"",
		"wacl":""
		};
	{% for c in column_info.result %}
	tmps['{{c.name}}'] = {
		"cname":"{{c.name}}",
		"outof":"{{c.out_of}}",
		"weight":"{{c.weight}}",
		"meta":"{{c.meta}}",
		"tags":"{{c.column_tags}}",
		"racl":"{{c.read_access}}",
		"wacl":"{{c.write_access}}"
		};
	{% endfor %}
	
	function applyTemplate(tabName){
		if(tabName=='add'){
			var temp = tmps[document.getElementById('template').value];
			document.getElementById('cname').value = "";
			document.getElementById('cname').focus();
			document.getElementById('outof').value = temp.outof;
			document.getElementById('weight').value = temp.weight;
			document.getElementById('meta').value = temp.meta;
			document.getElementById('tag').value = temp.tags;
			setAcl('add');
		}
		else{
			var temp = tmps[document.getElementById('template_e').value];
			document.getElementById('cname_e').value = temp.cname;
			document.getElementById('outof_e').value = temp.outof;
			document.getElementById('weight_e').value = temp.weight;
			document.getElementById('meta_e').value = temp.meta;
			document.getElementById('tag_e').value = temp.tags;
			setAcl('edit');
		}
	}
	
	function updateTemplate(tabName){
		if(tabName=='add'){
			var tempName = document.getElementById('cname').value;
			var tempSelect = document.getElementById('template');
			tempSelect.options[tempSelect.options.length] = new Option(tempName, tempName);
			var tempSelect_e = document.getElementById('template_e');
			tempSelect_e.options[tempSelect_e.options.length] = new Option(tempName, tempName);
			tmps[tempName] = {
				"cname":document.getElementById('cname').value,
				"outof":document.getElementById('outof').value,
				"weight":document.getElementById('weight').value,
				"meta":document.getElementById('meta').value,
				"tags":document.getElementById('tag').value,
				"racl":document.getElementById('racl').value+",",
				"wacl":document.getElementById('wacl').value+","
			};
		}
		else{
			tmps[document.getElementById('template_e').value] = {
				"cname":document.getElementById('cname').value,
				"outof":document.getElementById('outof_e').value,
				"weight":document.getElementById('weight_e').value,
				"meta":document.getElementById('meta_e').value,
				"tags":document.getElementById('tag_e').value,
				"racl":document.getElementById('racl_e').value+",",
				"wacl":document.getElementById('wacl_e').value+","
			};
		}
	}
	
	function checkColumn(){
		if(document.getElementById('template').value=='-1'){
			alert("Please select the column to change.");
			return false;
		}
		return true;
	}
	
	function getAcl(tabName){
		var read_access = "";
		var write_access = "";
		if(tabName=='add'){
			for(var i=0; i<document.getElementById('add-form').elements.length; i++) 
			{ 
				var e = document.getElementById('add-form').elements[i]; 
				if(e.type=="checkbox"){
					var ename = e.name;
					var gname = ename.substr(1);
					if(e.checked==true){
						if(ename.charAt(0)=="r"){
							read_access += gname + ",";
						}
						else{
							write_access += gname + ",";
						}
					}
				}
			}
			document.getElementById('racl').value = read_access.substr(0,read_access.length-1);
			document.getElementById('wacl').value = write_access.substr(0,write_access.length-1);
		}
		else{
			for(var i=0; i<document.getElementById('edit-form').elements.length; i++) 
			{ 
				var e = document.getElementById('edit-form').elements[i]; 
				if(e.type=="checkbox"){
					var ename = e.name;
					var gname = ename.substr(1);
					if(e.checked==true){
						if(ename.charAt(0)=="r"){
							read_access += gname + ",";
						}
						else{
							write_access += gname + ",";
						}
					}
				}
			}
			document.getElementById('racl_e').value = read_access.substr(0,read_access.length-1);
			document.getElementById('wacl_e').value = write_access.substr(0,write_access.length-1);
		}
	}
	
	function setAcl(tabName){
		if(tabName=='add'){
			var temp = tmps[document.getElementById('template').value];
			var read_access = temp.racl.substr(0,temp.racl.length-1).split(',');
			var write_access = temp.wacl.substr(0,temp.wacl.length-1).split(',');
			var gname = "";
			for(var i=0; i<document.getElementById('add-form').elements.length; i++) 
			{ 
				var e = document.getElementById('add-form').elements[i]; 
				if(e.type=="checkbox"){
					e.checked = false;
				}
			}
			for(var i=0; i<read_access.length; i++) 
			{
				gname = read_access[i];
				document.getElementById('r'+gname).checked = true;
			}
			for(var j=0; j<write_access.length; j++) 
			{
				gname = write_access[j];
				document.getElementById('w'+gname).checked = true;
			}
		}
		else{
			var temp = tmps[document.getElementById('template_e').value];
			var read_access = temp.racl.substr(0,temp.racl.length-1).split(',');
			var write_access = temp.wacl.substr(0,temp.wacl.length-1).split(',');
			var gname = "";
			for(var i=0; i<document.getElementById('edit-form').elements.length; i++) 
			{ 
				var e = document.getElementById('edit-form').elements[i]; 
				if(e.type=="checkbox"){
					e.checked = false;
				}
			}
			for(var i=0; i<read_access.length; i++) 
			{
				gname = read_access[i];
				document.getElementById('r'+gname+'_e').checked = true;
			}
			for(var j=0; j<write_access.length; j++) 
			{
				gname = write_access[j];
				document.getElementById('w'+gname+'_e').checked = true;
			}
		}
	}
	
	$(function(){
		$('[rel=popover]').popover();
		$('#add-submit').click(function () {
			getAcl('add');
			document.getElementById('add-feedback-alert').innerHTML = "<div class='alert'><button class='close' data-dismiss='alert'>×</button><strong>Status:</strong> Sending request, please wait...</div>";
			$.post("/ti/column/create/", $("#add-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('add-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> adding column.</div>";
					updateTemplate('add');
					document.getElementById('add-form').reset();
				}
				else{
					document.getElementById('add-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
		$('#edit-submit').click(function () {
			getAcl('edit');
			document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert'><button class='close' data-dismiss='alert'>×</button><strong>Status:</strong> Sending request, please wait...</div>";
			$.post("/ti/column/change/", $("#edit-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> changing column.</div>";
					updateTemplate('edit');
					document.getElementById('edit-form').reset();
				}
				else{
					document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
	});
    
    function add(tag_id,tag_name){
        document.getElementById(tag_id).value +=tag_name;
    }
</script>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
	<li><a href="/ti/">Home</a></li>
	<li><a href="/ti/user/">User</a></li>
	<li class="active"><a href="/ti/column/">Column</a></li>
	<li><a href="/ti/grade/">Grade</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Add Column</a></li>
                <li><a href="#tab2" data-toggle="tab">Edit Column</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<strong>Tip:</strong> (*) sign indicates required fields.
					</div>
					<div id="add-feedback-alert">
					</div>
                    <form action="/ti/column/create/" method="post" name="add-form" id="add-form" class="well">
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset id="ci">
									<legend>Column Info</legend>
									<label for="template">Template:</label>
									<select name="template" id="template" onchange="applyTemplate('add');">
										<option value='-1' selected="selected">New</option>
										{% for c in column_info.result %}
										<option value='{{c.name}}'>{{c.name}}</option>
										{% endfor %}
									</select>
									<br />
									<label for="cname">Name: (*)</label>
									<input type="text" name="cname" id="cname" />
									<br />
									<label for="outof">Out of: (*)</label>
									<input type="text" name="outof" id="outof" />
									<br />
									<label for="weight">Weight: (*)</label>
									<div class="input-append">
										<input type="text" name="weight" id="weight" class="span8" /><span class="add-on">%</span>
									</div>
									<label for="meta">Meta:</label>
									<input type="text" name="meta" id="meta" />
									<br />
									<label for="tag" style="display:inline"> Add Tags:</label><a href="#" class="" rel="popover" title="How-to:" data-content="Click an existing tag to add it. Or, type '#' before a tag, in the text area, to create a new one."><i class="icon-question-sign"></i></a>
                                    <textarea style="resize:vertical" name="tag" id="tag"></textarea>
                                    <br />
                                    <div class="span9">
										{% for t in tag_info.result %}
										<button onclick="add('tag','#{{t.name}}'); return false;" class="btn btn-mini btn-info">#{{t.name}}</button>
										{% endfor %}
                                    </div>
								</fieldset>
                            </div>
                            <div class="span6">
								<fieldset>
									<legend>Access Level Control</legend>
									<br />
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Data</th>
												<th>Read</th>
												<th>Write</th>
											</tr>
										</thead>
										{% for g in group_info.result %}
 										<tr>
 											<td>{{g.name}}</td>
 											<td><input type="checkbox" name="r{{g.name}}" id="r{{g.name}}" /></td>
 											<td><input type="checkbox" name="w{{g.name}}" id="w{{g.name}}" /></td>
 										</tr>
 										{% endfor %}
									</table>
									<input type="hidden" name="racl" id="racl" />
									<input type="hidden" name="wacl" id="wacl" />
								</fieldset>
                            </div>
                        </div>
                        <div class="form-actions to-form-right">
                        	<input type="reset" value="Reset" class="btn" />
							<input type="submit" value="Create" class="btn btn-primary" id="add-submit"/>
						</div>
                    </form>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="alert alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<strong>Tip:</strong> (*) sign indicates required fields.
					</div>
					<div id="edit-feedback-alert">
					</div>
					<form action="/ti/column/change/" method="post" name="edit-form" id="edit-form" class="well">
						<div class="row-fluid">
							<div class="span6">
								<fieldset id="ci">
									<legend>Column Info</legend>
									<label for="template_e">Column:</label>
									<select name="template" id="template_e" onchange="applyTemplate('edit');">
										<option value='-1' selected="selected">Select</option>
										{% for c in column_info.result %}
										<option value='{{c.name}}'>{{c.name}}</option>
										{% endfor %}
									</select>
									<br />
									<label for="cname_e">Name: (*)</label>
									<input type="text" name="cname" id="cname_e" disabled=true />
									<br />
									<label for="outof_e">Out of: (*)</label>
									<input type="text" name="outof" id="outof_e" />
									<br />
									<label for="weight_e">Weight: (*)</label>
									<div class="input-append">
										<input type="text" name="weight" id="weight_e" class="span8" /><span class="add-on">%</span>
									</div>
									<label for="meta_e">Meta:</label>
									<input type="text" name="meta" id="meta_e" />
									<br />
									<label for="tag_e" style="display:inline"> Add Tags:</label><a href="#" class="" rel="popover" title="How-to:" data-content="Click an existing tag to add it. Or, type '#' before a tag, in the text area, to create a new one."><i class="icon-question-sign"></i></a>
                                    <textarea style="resize:vertical" name="tag" id="tag_e"></textarea>
                                    <br />
                                    <div class="span9">
										{% for t in tag_info.result %}
										<button onclick="add('tag_e','#{{t.name}}'); return false;" class="btn btn-mini btn-info">#{{t.name}}</button>
										{% endfor %}
                                    <div class="span9">
								</fieldset>
							</div>
							<div class="span6">
								<fieldset>
									<legend>Access Level Control</legend>
									<br />
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Data</th>
												<th>Read</th>
												<th>Write</th>
											</tr>
										</thead>
										{% for g in group_info.result %}
 										<tr>
 											<td>{{g.name}}</td>
 											<td><input type="checkbox" name="r{{g.name}}" id="r{{g.name}}_e" /></td>
 											<td><input type="checkbox" name="w{{g.name}}" id="w{{g.name}}_e"/></td>
 										</tr>
 										{% endfor %}
									</table>
									<input type="hidden" name="racl" id="racl_e" />
									<input type="hidden" name="wacl" id="wacl_e" />
								</fieldset>
                            </div>
						</div>
						<div class="form-actions to-form-right">
							<input type="reset" value="Reset" class="btn" />
							<input type="submit" value="Confirm" class="btn btn-primary" id="edit-submit"/>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}