{% extends "ti_base.html" %}
{% block headscript %}
{{ block.super }}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.quickselect.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.quickselect.css' %}" />
<script type="text/javascript">
	var tmps = new Array();
	   
	{% for c in column_info.rows %}
	tmps[{{c.column_id}}] = {
		"min":"{{c.min}}",
		"max":"{{c.max}}"
	   };
	{% endfor %}
	   
	function setRange(){
	   var temp = tmps[document.getElementById('column').value];
	   document.getElementById('range').value = temp.min+" to "+temp.max;
	}
	function getOldScore() {
	   var nid = document.getElementById('netid').value;
	   var cid = document.getElementById('column').value;
	   $.getJSON("/ti/grade/get/", { netid: nid, column_id: cid }, function(json){
				 if(json['status']=="success"){
				 document.getElementById('old_score').value = json['rows'][0]['score'];
				 }
				 else{
				 clearOldScore();
				 }
	   });
	}
	function clearOldScore(){
	   document.getElementById('old_score').value = "";
	}
	
	$(function(){
	    $('#netid').quickselect({
			ajax:'/ti/user/get/', 
			match:'substring',
			autoSelectFirst:false,
			mustMatch:true,
			additionalFields:[$('#first_name'), $('#last_name'),$('#uin')],
			formatItem:function(data, index, total){return data[0]+", "+data[1]+" "+data[2]}
		});
	});
	 
	$(function(){
		$('#single-submit').click(function () {
			$.post("/ti/grade/create/?mode=single", $("#single-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('single-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> inputting grade.</div>";
				}
				else{
					document.getElementById('single-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
		$('#file-submit').click(function () {
			$.post("/ti/grade/create/?mode=file", $("#file-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('file-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> importing grade file.</div>";
				}
				else{
					document.getElementById('file-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
		$('#text-submit').click(function () {
			$.post("/ti/grade/create/?mode=text", $("#text-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('text-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> importing grade text.</div>";
				}
				else{
					document.getElementById('text-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
	});
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
    <li><a href="/ti/">Home</a></li>
    <li><a href="/ti/user/">User</a></li>
    <li><a href="/ti/column/">Column</a></li>
    <li class="active"><a href="/ti/grade/">Grade</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span8">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Single Entry</a></li>
                <li><a href="#tab2" data-toggle="tab">Mass Import</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                	<div id="single-feedback-alert">
					</div>
                    <form action="/ti/grade/create/?mode=single" method="post" class="well" id="single-form">
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset id="se">
                                    <legend>Single Entry</legend>
                                    <label for="netid">Net ID:</label>
                                    <input type="text" name="netid" id="netid" />
                                    <br />
                                    <label for="column">Column:</label>
                                    <select name="column" id="column" onchange="setRange();clearOldScore();">
                                        {% for g in column_info.rows %}
                                        <option value={{ g.column_id }}>{{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <br />
                                    <label for="range">Score range:</label>
                                    <input type="text" name="range" id="range" disabled="true" /> 
                                    <script type="text/javascript">setRange();</script>
                                    <br />
                                    <label for="old_score">Old score:</label>
                                    <input type="text" name="old_score" id="old_score" disabled="true" class="span7" style="display: inline"/>
                                    <a href="javascript:getOldScore()"> <i class="icon-refresh"></i>Check</a>
                                    <br />
                                    <label for="new_score">New score:</label>
                                    <input type="text" name="new_score" id="new_score" />
                                </fieldset>
                            </div>
                            <div class="span6">
                                <fieldset>
                                    <legend>Person Information</legend>
                                    <label>First Name:</label> <input type="text" id="first_name" disabled="true" />
                                    <br />
                                    <label>Last Name:</label> <input type="text" id="last_name" disabled="true" />
                                    <br />
                                    <label>UIN:</label> <input type="text" id="uin" disabled="true" />
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-actions to-form-right">
                            <input type="reset" value="Reset" class="btn" />
                            <input type="submit" value="Create" class="btn btn-primary" id="single-submit"/>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab2">
                	<div class="accordion" id="accordion2">
						<div class="accordion-group">
						  <div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							  File Upload
							</a>
						  </div>
						  <div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div id="file-feedback-alert">
								</div>
								<form action="/ti/grade/create/?mode=file" method="post" enctype="multipart/form-data" class="well form-inline" id="file-form">
										<fieldset id="mi">
											<legend>Mass Import - File Upload</legend>
											<label for="file">Text file:</label>
											<input class="input-file" id="file" type="file" name="file" />
										</fieldset>
										<div class="form-actions to-form-right">
											<input type="reset" value="Reset" class="btn" />
											<input type="submit" value="Upload" class="btn btn-primary" id="file-submit" />
										</div>
								</form>
							</div>
						  </div>
						</div>
						<div class="accordion-group">
						  <div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							  Text Input
							</a>
						  </div>
						  <div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								<div id="text-feedback-alert">
								</div>
								<form action="/ti/grade/create/?mode=text" method="post" class="well" id="text-form">
									<div>
										<fieldset id="mi">
											<legend>Mass Import - Text Input</legend>
											<label for="data" style="margin-bottom:5px">Input data:</label>
											<br />
											<textarea name="data" id="data" rows="20" class="span12">
Please clear this text and copy paste the grade data from the spread sheet to here.

First row specifies the data type, where the first cell indicates the id type, which can be either NETID or UIN, the rest are column names. Data delimited by tabs.

Sample input:

NETID	Column1	Column2	...
asdf2	98		88		...
fg		79		65		...
...		...		...		...
							</textarea>
										</fieldset>
										<div class="form-actions to-form-right">
											<input type="reset" value="Reset" class="btn" />
											<input type="submit" value="Import" class="btn btn-primary" id="text-submit" />
										</div>
									</div>
								</form>
							</div>
						  </div>
						</div>
					  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}