{% extends "ti_base.html" %}
{% block headscript %}
{{ block.super }}
{% load staticfiles %}
<script src="{% static 'js/bootstrap-button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.quickselect.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.quickselect.css' %}" />
<script type="text/javascript">
    $(function(){
		$('[rel=popover]').popover();
	    $('#add-submit').click(function () {
			document.getElementById('add-feedback-alert').innerHTML = "<div class='alert'><button class='close' data-dismiss='alert'>×</button><strong>Status:</strong> Sending request, please wait...</div>";
			$.post("/ti/user/create/", $("#add-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('add-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> adding user.</div>";
					document.getElementById('add-form').reset();
				}
				else{
					document.getElementById('add-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
			}  , "html");
			return false;
		});
		$('#edit-submit').click(function () {
			document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert'><button class='close' data-dismiss='alert'>×</button><strong>Status:</strong> Sending request, please wait...</div>";
			$.post("/ti/user/change/", $("#edit-form").serialize(), function (html) {
				if(html=="success"){
					document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert alert-success'><button class='close' data-dismiss='alert'>×</button><strong>Succeeded:</strong> changing user.</div>";
					document.getElementById('edit-form').reset();
				}
				else{
					document.getElementById('edit-feedback-alert').innerHTML = "<div class='alert alert-error'><button class='close' data-dismiss='alert'>×</button><strong>Failed:</strong> " + html + "</div>";
				}
            }  , "html");
			return false;
		});
		$('#netid_e').quickselect({
			ajax:'/ti/user/get/',  
			match:'substring',
			autoSelectFirst:false,
			mustMatch:true,
			additionalFields:[$('#fname_e'), $('#lname_e'), $('#uin_e'), $('#group_e'), $('#enrolled_e'), $('#year_e'), $('#degree_e'), $('#major_e'), $('#tag_e')],
			formatItem:function(data, index, total){return data[0]}
		});
    });
    function addGroup() {
        var group_name = document.getElementById('new_group').value;
        if(group_name==""){
            alert("Please enter the group name.");
        }
        else{
            $.getJSON("/ti/group/create/", { gname: group_name }, function(html){
                      if(html == "success"){
						  var select = document.getElementById('group');
						  select.options[select.options.length] = new Option(group_name, group_name);
						  select.options[select.options.length-1].selected = true;
						  document.getElementById('new_group').value = "";
						  alert("Succeeded adding the new group.");
                      }
                      else{
						  alert("Failed: "+html);
                      }
                });
        }
    }
    function showNewDiv(){
    	document.getElementById('new-group-div').innerHTML = "<div class='alert'><button class='close' data-dismiss='alert'>×</button><fieldset><legend>New Group</legend><label for='new_group'>Group Name:</label><input type='text' name='new_group' id='new_group'/><label>Access Control:</label><div class='btn-group' data-toggle='buttons-checkbox'><button class='btn' onclick='return false;'>Person</button><button class='btn' onclick='return false;'>Group</button><button class='btn' onclick='return false;'>Column</button></div><br /><button onclick='addGroup(); return false;' class='btn btn-info'>Add Group</button></fieldset></div>";
    }
    function add(tag_id,tag_name){
        document.getElementById(tag_id).value +=tag_name;
    }
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
    <li><a href="/ti/">Home</a></li>
    <li class="active"><a href="/ti/user/">User</a></li>
    <li><a href="/ti/column/">Column</a></li>
    <li><a href="/ti/grade/">Grade</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span8">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Add User</a></li>
                <li><a href="#tab2" data-toggle="tab">Edit User</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<strong>Tip:</strong> (*) sign indicates required fields.
					</div>
					<div id="add-feedback-alert">
					</div>
                    <form action="/ti/user/create/" method="post" class="well" id="add-form">
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset id="pi">
                                    <legend>Personal Information</legend>
                                    <label for="fname">First Name:</label>
                                    <input type="text" name="fname" id="fname" />
                                    <br />
                                    <label for="lname">Last Name:</label>
                                    <input type="text" name="lname" id="lname" />
                                    <br />
                                    <label for="netid">Net ID: (*)</label>
                                    <input type="text" name="netid" id="netid" />
                                    <br />
                                    <label for="uin">UIN: (*)</label>
                                    <input type="text" name="uin" id="uin" />
                                    <br />
                                    <label for="group">Group:</label>
                                    <select name="group" id="group" style="display: inline" class="span6">
                                        {% for g in group_info.result %}
                                        <option value="{{ g.name }}">{{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-info btn-small" onclick="showNewDiv();return false;">New Group</button>
                                </fieldset>
                            </div>
                            <div class="span6">
                                <div id="ai">
                                    <fieldset>
                                        <legend>Academic Information</legend>
                                        <label for="enrolled">Enrolled:</label>
                                        <select name="enrolled" id="enrolled">
                                            <option value=0 selected="selected">No</option>
                                            <option value=1>Yes</option>
                                        </select>
                                        <br />
                                        <label for="year">Year:</label>
                                        <input type="text" name="year" id="year" />
                                        <br />
                                        <label for="degree">Degree:</label>
                                        <input type="text" name="degree" id="degree" />
                                        <br />
                                        <label for="major">Major:</label>
                                        <input type="text" name="major" id="major" />
                                        <br />
                                        <label for="tag" style="display: inline">Person Tags:</label><a href="#" class="" rel="popover" title="How-to:" data-content="Click an existing tag to add it. Or, type '#' before a tag, in the text area, to create a new one."><i class="icon-question-sign"></i></a>
                                        <textarea style="resize:vertical" name="tag" id="tag"></textarea>
                                        <br/>
                                        <div class="span9">
											{% for t in tag_info.result %}
											<button onclick="add('tag','#{{t.name}}'); return false;" class="btn btn-mini btn-info">#{{t.name}}</button>
											{% endfor %}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div id="new-group-div"></div>
                        <div class="form-actions to-form-right">
                        	<input type="reset" value="Reset" class="btn"/>
							<input type="submit" value="Create" class="btn btn-primary" id="add-submit"/>
						</div>
                    </form>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="alert alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<strong>Tip:</strong> (*) sign indicates required fields.
					</div>
					<div id="edit-feedback-alert">
					</div>
					<form action="/ti/user/change/" method="post" class="well" id="edit-form">
						<div class="row-fluid">
							<div class="span6">
								<label for="netid_e">NetID:</label> <input type="text" name="netid" id="netid_e" />
								<br />
								<fieldset id="pi">
									<legend>Personal Information</legend>
									<label for="fname_e">First Name:</label>
									<input type="text" name="fname" id="fname_e" />
									<br />
									<label for="lname_e">Last Name:</label>
									<input type="text" name="lname" id="lname_e" />
									<br />
									<label for="uin_e">UIN: (*)</label>
									<input type="text" name="uin" id="uin_e" />
									<br />
									<label for="group_e">Group:</label>
									<select name="group" id="group_e">
										{% for g in group_info.result %}
										<option value="{{ g.name }}">{{ g.name }}</option>
										{% endfor %}
									</select>
								</fieldset>
							</div>
							<div class="span6">
								<fieldset>
									<legend>Academic Information</legend>
									<label for="enrolled_e">Enrolled:</label>
									<select name="enrolled" id="enrolled_e">
										<option value=0>No</option>
										<option value=1>Yes</option>
									</select>
									<br />
									<label for="year_e">Year:</label>
									<input type="text" name="year" id="year_e" />
									<br />
									<label for="degree_e">Degree:</label>
									<input type="text" name="degree" id="degree_e" />
									<br />
									<label for="major_e">Major:</label>
									<input type="text" name="major" id="major_e" />
									<br />
									<label for="tag_e" style="display: inline">Person Tags:</label><a href="#" class="" rel="popover" title="How-to:" data-content="Click an existing tag to add it. Or, type '#' before a tag, in the text area, to create a new one."><i class="icon-question-sign"></i></a>
									<textarea style="resize:vertical" name="tag" id="tag_e"></textarea>
									<br/>
									<div class="span9">
										{% for t in tag_info.result %}
										<button onclick="add('tag_e','#{{t.name}}'); return false;" class="btn btn-mini btn-info">#{{t.name}}</button>
										{% endfor %}
									</div>
								</fieldset>
							</div>
						</div>
						<div class="form-actions to-form-right">
							<input type="reset" value="Reset" class="btn"/>
							<input type="submit" value="Change" class="btn btn-primary" id="edit-submit"/>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}