{% extends "ti_base.html" %}

{% block taskname %}
<h2>Change User</h2>
{% endblock %}

{% block headscript %}
{{ block.super }}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type='text/javascript' src='http://suvorovigor.ru/labs/projects/dd/jquery.quickselect.js'></script>
<link rel="stylesheet" type="text/css" href="http://suvorovigor.ru/labs/projects/dd/jquery.quickselect.css" />
<script type="text/javascript">
  $(function(){
    $('#netid').quickselect({
      ajax:'/ti/user/get/',  
      match:'substring',
      autoSelectFirst:false,
      mustMatch:true,
      additionalFields:[$('#fname'), $('#lname'), $('#uin'), $('#group'), $('#enrolled'), $('#year'), $('#degree'), $('#major')],
      formatItem:function(data, index, total){return data[0]}
    });
  });
</script>
{% endblock %}

{% block content %}


<div>
  <form action="/ti/user/change/" method="post">
	<label for="netid">NetID</label> <input type="text" name="netid" id="netid"/>
	<br/>
	<fieldset id="pi">
		<legend>Personal Information</legend>
		<label for="fname">First Name:</label>
		<input type="text" name="fname" id="fname" />
		<br />
		<label for="lname">Last Name:</label>
		<input type="text" name="lname" id="lname" />
		<br />
		<label for="uin">UIN: (*)</label>
		<input type="text" name="uin" id="uin" />
		<br />
		<label for="group">Group:</label>
		<select name="group" id="group">
			{% for g in group_info.rows %}
			<option value= {{ g.group_id }} >{{ g.name }}</option>
			{% endfor %}
		</select>
        <br />
	</fieldset>
	<div id="ai">
	<fieldset>
		<legend>Academic Information</legend>
		<label for="enrolled">Enrolled:</label>
		<select name="enrolled" id="enrolled" >
			<option value=0>No</option>
			<option value=1>Yes</option>
		</select>
		<br />
		<label for="year">Year:</label>
		<input type="text" name="year" id="year" />
		<br />
		<label for="degree">Degree:</label>
		<input type="text" name="degree" id="degree" />
		<br />
		<label for="major">Major:</label>
		<input type="text" name="major" id="major" />
	</fieldset>
	<input type="submit" value="Change" style="float:right; margin-top:4px" />
	<input type="reset" value="Reset" style="float:right; margin-top:4px" onclick="disableAi();"/>
	</div>
  </form>
</div>
<p id="note"><i>*: required fields</i></p>
{% endblock %}